@media (print) {
  .col-lg-4 {
    max-width: 33.333333%;
  }

  .row {
    display: block;
  }

  .col-lg-4 {
    display: block;
  }

  .card {
    display: block;
  }

  .header-vendas-viagem {
    display: none;
  }
}
.card-ficha-venda {
  display: block;
  page-break-inside: avoid;
  page-break-before: always;
}
.card-ficha-venda .card .card-header .maps-venda {
  width: 100px;
  position: absolute;
  left: 303px;
}
.card-ficha-venda .card .card-endereco {
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
}
.card-ficha-venda .card .card-endereco .link-maps {
  padding-right: 32%;
}
